<style>
a.is_disabled {
   pointer-events: none;
   cursor: default;
}

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['login']"
              routerLinkActive="active">Login</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['registration']"
            routerLinkActive="active">Registrazione</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="getLink() ? ['gestioneDipendenti']: null"
            [routerLinkActive]="getLink ? 'is_active' : 'is_disabled'">Gestione Dipendente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="getLink() ? ['gestioneCommessa']: null"
          [routerLinkActive]="getLink ? 'is_active' : 'is_disabled'">Gestione Commessa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="getLink() ? ['clienti']: null"
            [routerLinkActive]="getLink ? 'is_active' : 'is_disabled'">Anagrafica Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['tipologia_contratto']"
            [routerLinkActive]="getLink ? 'is_active' : 'is_disabled'">Tipologia Contratto</a>
        </li>
        <button type="button" name="button" (click)="setLink(true)">prova</button>
      </ul>
      {{getLink()}}
    </div>
  </nav>
