
<div class="center">
    <h1>Gestione Commessa</h1>
    </div>
    <br>
    <div class="center">
      
    <nav>
      <a class="button" routerLink="commessaAdd" routerLinkActive="activebutton">Anagrafica Commessa</a> |
      <a class="button" routerLink="#" routerLinkActive="activebutton">Associa Risorsa</a> |   
      
    </nav>
    
    </div>
    <br>
    
    <div class="container-fluid">
     
    
        <div class="card-body">
         
            <router-outlet></router-outlet>
            
    </div>
    
    </div>