<div class="container-fluid">
    <div class="mt-4">
    <table class="table table-bordered">
        <thead>
        <tr class="text-center align-middle">
            <th scope="col">Azienda</th>
            <th scope="col">Nominativo</th>
            <th scope="col">Tipologia Contratto</th>
            <th scope="col">Livello</th>
            <th scope="col">Costo GG</th>
            <th scope="col">Data Inizio Contratto</th>
            <th scope="col">Data Fine Contratto</th>
            <th scope="col">Retribuzione Lorda Mensile</th>
            <th scope="col">R.S./B.P. Mensili</th>
            <th scope="col">Note</th>
            <th scope="col">↓</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let daticontratto of daticontrattuali | async;let i =index">
                <td>
                    {{daticontratto.azienda}}
                </td>
                <td>
                    {{daticontratto.nome}}  {{daticontratto.cognome}}
                </td>
                <td>
                    <select class="form-select" aria-label="Default select example"
                     [(ngModel)]="contratti[i].tipologiaContrattoBean"
                     required #Select="ngModel" [class.is-invalid]="Select.invalid && Select.touched">
                        <option [ngValue]="">

                        </option>
                        <option *ngFor="let tipologiacontratto of tipologie" [ngValue]="tipologiacontratto">
                            {{tipologiacontratto.tipologia}}
                        </option>
                      </select>
                    <!--<div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Tipologia Contratto
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu" *ngFor = "let tipologiacontratto of tipologiecontratto | async">
                            <li>{{tipologiacontratto.tipologia}}</li>
                        </ul>
                    </div>-->
                </td>
                <td>
                    <input type="number"
                     class="form-control" 
                     name="Livello"
                     [(ngModel)]="contratti[i].livello"
                     required
                     #Livello="ngModel"
                     [class.is-invalid]="Livello.invalid && Livello.touched">
                </td>
                <td>
                    <input type="number"
                     class="form-control" 
                     name="Costo-GG"
                     [(ngModel)]="contratti[i].costoGg"
                     required
                     #Costo="ngModel"
                     [class.is-invalid]="Costo.invalid && Costo.touched">
                </td>
                <td>
                    <input type="date"
                     class="form-control" 
                     name="Inizio"
                     [(ngModel)]="contratti[i].dataInizioContratto"
                     required
                     #Inizio="ngModel"
                     [class.is-invalid]="Inizio.invalid && Inizio.touched">
                </td>
                <td>
                    <input type="date"
                     class="form-control" 
                     name="Fine"
                     [(ngModel)]="contratti[i].dataFineContratto"
                     required
                     #Fine="ngModel"
                     [class.is-invalid]="Fine.invalid && Fine.touched">
                </td>
                <td>
                    <input type="number"
                     class="form-control" 
                     name="Retribuzione"
                     [(ngModel)]="contratti[i].retribuzioneLorda"
                     required
                     #Retribuzione="ngModel"
                     [class.is-invalid]="Retribuzione.invalid && Retribuzione.touched">
                </td>
                <td>
                    <input type="number"
                     class="form-control" 
                     name="RS"
                     [(ngModel)]="contratti[i].rimborsoSpeseMensili"
                     required
                     #RS="ngModel"
                     [class.is-invalid]="RS.invalid && RS.touched">
                </td>
                <td>
                    <textarea name="Note"
                     rows="1" 
                     cols="10"
                     [(ngModel)]="contratti[i].note"
                     ></textarea>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="Save(i)"
                     [disabled]="Select.invalid || Livello.invalid || Costo.invalid || Inizio.invalid ||Fine.invalid || Retribuzione.invalid || RS.invalid">
                        Salva
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>