<!--component html goes here -->
<style>
  .filter {
     margin-bottom: 0.5cm;
  }

  .nav-clienteAdd {
     margin-right: 0px;
  }
</style>
<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Elenco Clienti</h2>
    </div>

    <form (ngSubmit)="onSubmit()">
        <div class="filter">
            <input type="text" class="form-control" id="filter" name="filter" [(ngModel)]="filter" placeholder="Filtra clienti">
        </div>
        <button type="submit" class="btn btn-success">Filtra</button>
        <button type="submit" class="btn btn-success" style='float:right;'(click)="onAdd()">Aggiungi nuovo</button>
    </form>

    &nbsp;
    <label><input type="radio" name="radio" [(ngModel)]="radio" value="0"> ragione sociale</label>
    &nbsp;
    <label><input type="radio" name="radio" [(ngModel)]="radio" value="2"> partita iva</label>
    &nbsp;
    <label><input type="radio" name="radio" [(ngModel)]="radio" value="3"> codice fiscale</label>
    &nbsp;
    <label><input type="radio" name="radio" [(ngModel)]="radio" value="4"> codice interscambio</label>
    &nbsp;
    <label><input type="radio" name="radio" [(ngModel)]="radio" value="5"> pec</label>
    &nbsp;
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ragione Sociale</th>
                    <th>Sede Legale</th>
                    <th>Partita Iva</th>
                    <th>Codice Fiscale</th>
                    <th>Codice Interscambio</th>
                    <th>Pec</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clienti | async">
                    <td>{{cliente.ragioneSociale}}</td>
                    <td>{{cliente.indirizzo}} {{cliente.numeroCivico}}, {{cliente.cap}} {{cliente.citta}} {{cliente.provincia}}, {{cliente.stato}}</td>
                    <td>{{cliente.partitaIva}}</td>
                    <td>{{cliente.codiceFiscale}}</td>
                    <td>{{cliente.codiceInterscambio}}</td>
                    <td>{{cliente.pec}}</td>
                    <td><button (click)="onDelete(cliente.partitaIva)" class="btn btn-danger">Delete</button>
                      &nbsp;&nbsp;
                        <button (click)="onUpdate(cliente.partitaIva)" class="btn btn-info">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
