.mat-form-field-infix {
    display: inherit;
  }

  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .buttonHolder{ text-align: center; }

  .spaceTariffa {
    margin-right: 10px;
}

/* .form-field-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* .form-field-label {
    white-space: nowrap;
  } */
  /* .form-field-label + mat-form-field {
   margin-left: 10px;
  } 
  
} */
mat-form-field {
  width:100%;
}
.my-select-panel-class {
  background: red;
  font-size: medium;
}

